[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Some useful stuff for C projects.
[access "refs/*"]
	owner = group user/Andrew Yourtchenko (ayourtch)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrew Yourtchenko (ayourtch)
	label-Verified = -1..+1 group user/Andrew Yourtchenko (ayourtch)
	push = group user/Andrew Yourtchenko (ayourtch)
	read = group user/Andrew Yourtchenko (ayourtch)
	rebase = group user/Andrew Yourtchenko (ayourtch)
	removeReviewer = group user/Andrew Yourtchenko (ayourtch)
	submit = group user/Andrew Yourtchenko (ayourtch)
[access "refs/heads/*"]
	create = group user/Andrew Yourtchenko (ayourtch)
	push = +force group user/Andrew Yourtchenko (ayourtch)
	pushMerge = group user/Andrew Yourtchenko (ayourtch)
	read = group user/Andrew Yourtchenko (ayourtch)
[access "refs/tags/*"]
	push = group user/Andrew Yourtchenko (ayourtch)
	push = +force group user/Andrew Yourtchenko (ayourtch)
